In [10]:
# Turn BioCreative6 TSV format into brat files

In [7]:
import pandas as pd

In [12]:
path_relationships =  '/home/antonis/data/biocreative6/ChemProt_Corpus/chemprot_development/chemprot_development_relations.tsv'

In [13]:
save_path_root = '/home/antonis/data/biocreative6/ChemProt_Corpus/brat/chemprot_development/'

In [14]:
abstracts = pd.read_table(path_abstracts,names=['doc_id', 'title', 'abstract'])

In [15]:
abstracts.title[0]

'Binding of dimemorfan to sigma-1 receptor and its anticonvulsant and locomotor effects in mice, compared with dextromethorphan and dextrorphan.'

In [16]:
len(abstracts)

612

# Parse abstracts, titles

In [4]:
path_abstracts = '/home/antonis/data/biocreative6/ChemProt_Corpus/chemprot_training/chemprot_training_abstracts.tsv'

In [2]:
from preprocessing import BioC_corpus_parse

In [3]:
BioC_corpus_parse(load_path = path_abstracts
                  , save_path = '/home/antonis/data/biocreative6/ChemProt_Corpus/brat/chemprot_training')

Successfully rote 1019 docs to txt (/home/antonis/data/biocreative6/ChemProt_Corpus/brat/chemprot_training)

# Parse entities (into .ann)

In [20]:
path_entities =  '/home/antonis/data/biocreative6/ChemProt_Corpus/chemprot_training/chemprot_training_entities.tsv'
path_relationships = '/home/antonis/data/biocreative6/ChemProt_Corpus/chemprot_training/chemprot_training_relations.tsv'
save_path = '/home/antonis/data/biocreative6/ChemProt_Corpus/brat/chemprot_training'

In [47]:
def BioC_ent_parse(path_entities):
    '''Input: tsv BioCreative format'''
    
    entities = pd.read_table(path_entities,names=['doc_id','nr', 'type', 'start', 'stop', 'name'])
    #hack to write type, start stop without \t
    entities['type_start_stop'] = map(lambda x,y,z: "%s %i %i"%(x,y,z) , entities.type, entities.start, entities.stop)
    return entities

In [48]:
def BioC_rel_parse(path_relationships):
    '''Input: tsv BioCreative format'''
    
    relationships = pd.read_table(path_relationships, names = ['doc_id', 'group', 'eval', 'CPR', 'arg1', 'arg2'])
    relationships['regulator'] = map(lambda x: 'REGULATOR' if x in ['CPR:3', 'CPR:4'] else 'NONREGULATOR'  ,relationships.group)
    print 'Total number of relationships:'
    print relationships['regulator'].value_counts()
    
    # encode in same column
    relationships['rel'] = map(lambda x,y,z: "%s %s %s"%(x,y,z) , relationships.regulator, relationships.arg1, relationships.arg2)
    #enrich with index (eg. R28)
    relationships['idx'] = map(lambda x: "R%i"%x ,relationships.index)
    
    return relationships

In [55]:
def write_ann_file(entities, relationships, save_path, debug=False):
    """Jointly write entities and relationships in .ann files 
    given their dataframes
    
    entities cols:        ['doc_id,'nr','type_start_stop','name']
    relationships cols:   ['doc_id,'nr','idx','rel']
    """
    for doc_id in entities.doc_id.unique():
        
        save_path = save_path.rstrip("/")#trim trailing /
        save_path_file = '%s/%s.ann'%(save_path,doc_id)

        #write out entities
        entities[entities.doc_id==doc_id][['nr','type_start_stop','name']].to_csv(save_path_file,sep='\t',header=None,index=False)
        #write out relationships
        relationships[relationships.doc_id==doc_id][['idx', 'rel']].to_csv(save_path_file,sep='\t',header=None,mode='a',index=False)

        if debug:
            print save_path_file.split('/')[-1], ': ',len(entities[entities.doc_id==doc_id]), 'entities', len(relationships[relationships.doc_id==doc_id]),'relations'
    print "Successfully wrote %i files in: %s" %( len(entities.doc_id.unique()), 
                                                 save_path)

In [57]:
write_ann_file(entities, relationships, save_path)

Successfully wrote 1020 files in: /home/antonis/data/biocreative6/ChemProt_Corpus/brat/chemprot_training

In [13]:
entities = pd.read_table(path_entities,names=['doc_id','nr', 'type', 'start', 'stop', 'name'])

In [14]:
#hack to write type, start stop without \t
entities['type_start_stop'] = map(lambda x,y,z: "%s %i %i"%(x,y,z) , entities.type, entities.start, entities.stop)

In [15]:
# entities = entities[['doc_id','nr','type_start_stop','name']]

In [16]:
entities.head()

     doc_id  nr      type  start  stop             name     type_start_stop
0  11319232  T1  CHEMICAL    242   251        acyl-CoAs    CHEMICAL 242 251
1  11319232  T2  CHEMICAL   1193  1201         triacsin  CHEMICAL 1193 1201
2  11319232  T3  CHEMICAL   1441  1448          sucrose  CHEMICAL 1441 1448
3  11319232  T4  CHEMICAL   1637  1652  triacylglycerol  CHEMICAL 1637 1652
4  11319232  T5  CHEMICAL   1702  1711        acyl-CoAs  CHEMICAL 1702 1711

# Parse relationships

In [21]:
relationships = pd.read_table(path_relationships, names = ['doc_id', 'group', 'eval', 'CPR', 'arg1', 'arg2'])

In [22]:
relationships.head()

     doc_id  group eval                   CPR      arg1      arg2
0  10047461  CPR:3   Y              ACTIVATOR  Arg1:T13  Arg2:T57
1  10047461  CPR:3   Y              ACTIVATOR   Arg1:T7  Arg2:T39
2  10047461  CPR:3   Y              ACTIVATOR   Arg1:T7  Arg2:T40
3  10047461  CPR:3   Y              ACTIVATOR   Arg1:T7  Arg2:T41
4  10047461  CPR:3   Y   INDIRECT-UPREGULATOR  Arg1:T13  Arg2:T55

In [28]:
relationships['regulator'] = map(lambda x: 'REGULATOR' if x in ['CPR:3', 'CPR:4'] else 'NONREGULATOR'  ,relationships.group)

In [27]:
print 'Number of relationships:'
print relationships['regulator'].value_counts()

Number of relationships:
OTHER        3400
REGULATES    3037
Name: regulator, dtype: int64

In [31]:
# encode in same column
relationships['rel'] = map(lambda x,y,z: "%s %s %s"%(x,y,z) , relationships.regulator, relationships.arg1, relationships.arg2)
#enrich with index (eg. R28)
relationships['idx'] = map(lambda x: "R%i"%x ,relationships.index)

In [46]:
# jointly write entities and relationships in .ann files
for doc_id in entities.doc_id.unique():
    save_path_file = '%s/%s.ann'%(save_path,doc_id)

    #write out entities
    entities[entities.doc_id==doc_id][['nr','type_start_stop','name']].to_csv(save_path_file,sep='\t',header=None,index=False)
    
    #write out relationships
    relationships[relationships.doc_id==doc_id][['idx', 'rel']].to_csv(save_path_file,sep='\t',header=None,mode='a',index=False)
    
    print save_path_file.split('/')[-1], ': ',len(entities[entities.doc_id==doc_id]), 'entities', len(relationships[relationships.doc_id==doc_id]),'relations'

11319232.ann :  38 entities 12 relations
12213829.ann :  55 entities 14 relations
19228178.ann :  17 entities 6 relations
15843826.ann :  20 entities 4 relations
23628509.ann :  28 entities 10 relations
23375813.ann :  10 entities 3 relations
23538162.ann :  31 entities 16 relations
21272013.ann :  16 entities 10 relations
23142507.ann :  26 entities 8 relations
22989705.ann :  32 entities 9 relations
16686685.ann :  25 entities 3 relations
22972179.ann :  30 entities 8 relations
23570914.ann :  23 entities 6 relations
15953344.ann :  23 entities 9 relations
1386491.ann :  17 entities 5 relations
1975995.ann :  9 entities 1 relations
23238103.ann :  26 entities 4 relations
23357629.ann :  20 entities 3 relations
10207608.ann :  31 entities 31 relations
9079657.ann :  45 entities 2 relations
18559268.ann :  13 entities 6 relations
2886642.ann :  29 entities 2 relations
12560076.ann :  28 entities 6 relations
23500776.ann :  22 entities 4 relations
23232123.ann :  11 entities 0 relations
23354070.ann :  14 entities 6 relations
23434647.ann :  15 entities 0 relations
16399380.ann :  30 entities 1 relations
15155769.ann :  36 entities 23 relations
16534527.ann :  10 entities 0 relations
23139413.ann :  26 entities 11 relations
23293962.ann :  33 entities 0 relations
23350847.ann :  5 entities 2 relations
11861820.ann :  36 entities 25 relations
16206183.ann :  30 entities 10 relations
22931530.ann :  9 entities 1 relations
23500382.ann :  33 entities 18 relations
23419036.ann :  8 entities 0 relations
22921426.ann :  28 entities 0 relations
23163726.ann :  16 entities 0 relations
25136065.ann :  25 entities 0 relations
17040106.ann :  42 entities 24 relations
23477570.ann :  24 entities 0 relations
23636303.ann :  26 entities 5 relations
23358194.ann :  12 entities 2 relations
23456735.ann :  15 entities 0 relations
23528251.ann :  34 entities 11 relations
23418368.ann :  17 entities 0 relations
12388748.ann :  23 entities 3 relations
23360475.ann :  7 entities 0 relations
11972613.ann :  31 entities 5 relations
16494569.ann :  21 entities 3 relations
7986344.ann :  23 entities 22 relations
15714982.ann :  11 entities 2 relations
17434872.ann :  43 entities 23 relations
23019138.ann :  29 entities 16 relations
25225185.ann :  47 entities 13 relations
17159811.ann :  24 entities 4 relations
23386390.ann :  26 entities 5 relations
7768269.ann :  29 entities 3 relations
23578952.ann :  23 entities 1 relations
14507109.ann :  54 entities 9 relations
11166732.ann :  17 entities 6 relations
22532505.ann :  6 entities 0 relations
23551063.ann :  31 entities 18 relations
23194825.ann :  48 entities 7 relations
15110853.ann :  19 entities 8 relations
22349823.ann :  40 entities 11 relations
23380568.ann :  13 entities 0 relations
23381968.ann :  21 entities 9 relations
23583884.ann :  32 entities 14 relations
23153456.ann :  38 entities 5 relations
11936838.ann :  21 entities 6 relations
23174754.ann :  6 entities 0 relations
19337422.ann :  18 entities 5 relations
7944828.ann :  47 entities 17 relations
23587649.ann :  28 entities 0 relations
16835395.ann :  29 entities 3 relations
3058238.ann :  24 entities 0 relations
11692072.ann :  17 entities 1 relations
17360707.ann :  18 entities 0 relations
23632081.ann :  23 entities 5 relations
10373451.ann :  37 entities 15 relations
23411172.ann :  24 entities 5 relations
23373869.ann :  4 entities 0 relations
23127600.ann :  16 entities 3 relations
18847313.ann :  16 entities 13 relations
6872937.ann :  40 entities 3 relations
23578689.ann :  9 entities 0 relations
16730121.ann :  18 entities 8 relations
23017392.ann :  6 entities 0 relations
19244097.ann :  57 entities 11 relations
15494035.ann :  14 entities 0 relations
1663395.ann :  28 entities 5 relations
17333137.ann :  25 entities 4 relations
7912539.ann :  27 entities 7 relations
23397359.ann :  2 entities 0 relations
15963471.ann :  47 entities 17 relations
7526860.ann :  18 entities 0 relations
23541436.ann :  28 entities 6 relations
12850267.ann :  35 entities 13 relations
23474889.ann :  30 entities 2 relations
16281286.ann :  16 entities 0 relations
15358979.ann :  18 entities 2 relations
23276627.ann :  16 entities 0 relations
18093407.ann :  19 entities 4 relations
23511897.ann :  33 entities 0 relations
12110374.ann :  41 entities 10 relations
23347038.ann :  22 entities 7 relations
11986668.ann :  21 entities 3 relations
10626810.ann :  41 entities 6 relations
17588737.ann :  30 entities 1 relations
23640283.ann :  9 entities 0 relations
23468099.ann :  14 entities 0 relations
20531964.ann :  19 entities 10 relations
10839989.ann :  64 entities 22 relations
23000249.ann :  35 entities 1 relations
23401139.ann :  7 entities 0 relations
23377618.ann :  14 entities 0 relations
3124610.ann :  19 entities 0 relations
16395286.ann :  32 entities 11 relations
10480573.ann :  14 entities 2 relations
23238783.ann :  25 entities 6 relations
23523949.ann :  44 entities 14 relations
14523001.ann :  26 entities 3 relations
12373557.ann :  21 entities 4 relations
16855178.ann :  36 entities 10 relations
2855368.ann :  18 entities 3 relations
16434489.ann :  38 entities 23 relations
23411217.ann :  12 entities 0 relations
23623751.ann :  28 entities 11 relations
23397055.ann :  44 entities 8 relations
14613270.ann :  47 entities 0 relations
11511858.ann :  15 entities 2 relations
17553661.ann :  51 entities 15 relations
23172777.ann :  11 entities 5 relations
23537574.ann :  12 entities 0 relations
12213053.ann :  36 entities 35 relations
7711211.ann :  29 entities 17 relations
17600786.ann :  14 entities 0 relations
20372850.ann :  38 entities 14 relations
18633030.ann :  27 entities 0 relations
23494186.ann :  15 entities 3 relations
10225363.ann :  27 entities 12 relations
12614192.ann :  15 entities 7 relations
9633680.ann :  27 entities 8 relations
9480923.ann :  41 entities 13 relations
15635044.ann :  56 entities 18 relations
23274887.ann :  22 entities 0 relations
22532499.ann :  13 entities 1 relations
23327993.ann :  39 entities 10 relations
19482847.ann :  14 entities 0 relations
23123771.ann :  29 entities 0 relations
17325243.ann :  19 entities 0 relations
23643883.ann :  31 entities 2 relations
23265543.ann :  25 entities 5 relations
22776694.ann :  4 entities 0 relations
23339678.ann :  10 entities 0 relations
15974585.ann :  19 entities 4 relations
23410005.ann :  14 entities 7 relations
23627806.ann :  7 entities 0 relations
17593236.ann :  10 entities 3 relations
23375228.ann :  12 entities 2 relations
8600944.ann :  43 entities 25 relations
23334864.ann :  16 entities 0 relations
23354393.ann :  21 entities 0 relations
12112047.ann :  9 entities 2 relations
23423713.ann :  41 entities 30 relations
10381000.ann :  16 entities 8 relations
8103526.ann :  12 entities 1 relations
23615073.ann :  24 entities 10 relations
23159790.ann :  28 entities 7 relations
23371032.ann :  13 entities 0 relations
23201124.ann :  21 entities 1 relations
22537794.ann :  41 entities 23 relations
23402841.ann :  29 entities 2 relations
19068776.ann :  21 entities 2 relations
23316965.ann :  18 entities 1 relations
23444334.ann :  14 entities 1 relations
23401474.ann :  23 entities 0 relations
23539296.ann :  39 entities 10 relations
11716850.ann :  71 entities 46 relations
10434156.ann :  10 entities 0 relations
20596674.ann :  40 entities 16 relations
23318471.ann :  44 entities 9 relations
10328230.ann :  25 entities 12 relations
23314320.ann :  16 entities 2 relations
22445601.ann :  30 entities 7 relations
10401556.ann :  45 entities 16 relations
23259841.ann :  5 entities 0 relations
10693877.ann :  13 entities 2 relations
23298258.ann :  27 entities 2 relations
18465538.ann :  13 entities 3 relations
23439561.ann :  57 entities 6 relations
10752671.ann :  9 entities 2 relations
23287538.ann :  19 entities 0 relations
10462128.ann :  37 entities 4 relations
22872607.ann :  33 entities 12 relations
23249626.ann :  14 entities 1 relations
12398910.ann :  23 entities 8 relations
16546990.ann :  41 entities 15 relations
12047490.ann :  26 entities 2 relations
1322791.ann :  13 entities 0 relations
7837275.ann :  38 entities 5 relations
17067304.ann :  30 entities 14 relations
23578644.ann :  13 entities 0 relations
23563205.ann :  11 entities 2 relations
10933803.ann :  32 entities 0 relations
14656380.ann :  23 entities 8 relations
2568212.ann :  40 entities 8 relations
23601753.ann :  29 entities 3 relations
12727196.ann :  23 entities 11 relations
14676196.ann :  17 entities 0 relations
23358258.ann :  12 entities 4 relations
23642478.ann :  17 entities 14 relations
10702256.ann :  24 entities 6 relations
15921304.ann :  10 entities 3 relations
1352051.ann :  9 entities 0 relations
22982445.ann :  36 entities 22 relations
23264615.ann :  43 entities 11 relations
15132128.ann :  45 entities 14 relations
20566645.ann :  34 entities 13 relations
23348500.ann :  32 entities 15 relations
23628791.ann :  26 entities 3 relations
16417577.ann :  20 entities 4 relations
23542126.ann :  9 entities 0 relations
23347684.ann :  9 entities 0 relations
16365052.ann :  16 entities 2 relations
23522835.ann :  16 entities 0 relations
14501155.ann :  29 entities 7 relations
17884974.ann :  35 entities 14 relations
9040115.ann :  36 entities 7 relations
12123767.ann :  20 entities 3 relations
23381951.ann :  8 entities 0 relations
11071707.ann :  34 entities 0 relations
23419783.ann :  15 entities 2 relations
23238657.ann :  15 entities 0 relations
17408310.ann :  10 entities 2 relations
23339625.ann :  23 entities 20 relations
23074021.ann :  21 entities 6 relations
23571107.ann :  43 entities 0 relations
23534442.ann :  23 entities 9 relations
23543413.ann :  27 entities 4 relations

1375507.ann :  34 entities 16 relations
8263811.ann :  44 entities 11 relations
22659088.ann :  41 entities 2 relations
11034389.ann :  33 entities 3 relations
11156594.ann :  35 entities 8 relations
9928259.ann :  26 entities 5 relations
23192350.ann :  40 entities 1 relations
20230007.ann :  46 entities 20 relations
1332478.ann :  13 entities 1 relations
23409864.ann :  7 entities 0 relations
23537942.ann :  8 entities 0 relations
23561109.ann :  8 entities 0 relations
23266719.ann :  23 entities 0 relations
17275903.ann :  37 entities 2 relations
23454300.ann :  6 entities 0 relations
3828735.ann :  24 entities 4 relations
19549602.ann :  30 entities 16 relations
19203467.ann :  81 entities 26 relations
12955294.ann :  19 entities 0 relations
17111172.ann :  37 entities 15 relations
23046524.ann :  16 entities 7 relations
14642426.ann :  20 entities 11 relations
23422569.ann :  53 entities 17 relations
15795320.ann :  42 entities 10 relations
15561973.ann :  42 entities 2 relations
23500772.ann :  25 entities 6 relations
23378624.ann :  9 entities 0 relations
23564921.ann :  18 entities 3 relations
12093311.ann :  23 entities 6 relations
12907443.ann :  25 entities 7 relations
14505791.ann :  21 entities 7 relations
12650833.ann :  34 entities 12 relations
14711372.ann :  33 entities 5 relations
10864881.ann :  48 entities 19 relations
9399012.ann :  27 entities 8 relations
23146690.ann :  24 entities 12 relations
11351021.ann :  29 entities 0 relations
23563356.ann :  24 entities 1 relations
23438471.ann :  8 entities 0 relations
23123646.ann :  27 entities 2 relations
23152186.ann :  33 entities 2 relations
23521080.ann :  13 entities 8 relations
1705633.ann :  19 entities 11 relations
23580257.ann :  15 entities 0 relations
22634361.ann :  22 entities 6 relations
23085085.ann :  22 entities 2 relations
15120421.ann :  54 entities 7 relations
23583903.ann :  14 entities 0 relations
23200255.ann :  18 entities 10 relations
23290724.ann :  15 entities 8 relations
7958159.ann :  15 entities 0 relations
23609963.ann :  14 entities 0 relations
22890749.ann :  7 entities 0 relations
9015795.ann :  39 entities 11 relations
23330847.ann :  13 entities 0 relations
11278845.ann :  45 entities 20 relations
20091113.ann :  10 entities 2 relations
23590882.ann :  24 entities 2 relations
12826271.ann :  12 entities 2 relations
23584857.ann :  13 entities 0 relations
12566304.ann :  34 entities 18 relations
23300287.ann :  22 entities 0 relations
23558747.ann :  27 entities 3 relations
23578390.ann :  20 entities 8 relations
17499824.ann :  36 entities 12 relations
9732824.ann :  13 entities 6 relations
16920841.ann :  39 entities 14 relations
23160530.ann :  28 entities 1 relations
15777622.ann :  44 entities 11 relations
23411246.ann :  29 entities 4 relations
11103886.ann :  20 entities 0 relations
23305949.ann :  15 entities 0 relations
23640331.ann :  31 entities 0 relations
9466983.ann :  31 entities 0 relations
23265474.ann :  40 entities 0 relations
10530931.ann :  11 entities 4 relations
17085856.ann :  30 entities 3 relations
6687626.ann :  32 entities 2 relations
16432501.ann :  24 entities 8 relations
23256442.ann :  25 entities 0 relations
23418674.ann :  14 entities 4 relations
9094999.ann :  25 entities 5 relations
8819507.ann :  33 entities 8 relations
7929150.ann :  26 entities 13 relations
23022324.ann :  20 entities 7 relations
23182954.ann :  26 entities 5 relations
23578688.ann :  11 entities 4 relations
23087261.ann :  25 entities 0 relations
23391485.ann :  14 entities 3 relations
15982930.ann :  33 entities 16 relations
16973691.ann :  27 entities 5 relations
23261590.ann :  41 entities 21 relations
21712771.ann :  23 entities 5 relations
23435910.ann :  27 entities 6 relations
23231502.ann :  33 entities 14 relations
15082029.ann :  8 entities 0 relations
12662154.ann :  40 entities 3 relations
16962597.ann :  35 entities 0 relations
23206862.ann :  6 entities 1 relations
9003761.ann :  30 entities 8 relations
9231746.ann :  29 entities 13 relations
12392782.ann :  31 entities 8 relations
23118019.ann :  23 entities 8 relations
14737100.ann :  51 entities 17 relations
17929831.ann :  32 entities 9 relations
23474645.ann :  15 entities 0 relations
23422872.ann :  3 entities 1 relations
15944809.ann :  13 entities 2 relations
16516814.ann :  46 entities 25 relations
23530595.ann :  2 entities 0 relations
11732752.ann :  29 entities 10 relations
22749842.ann :  14 entities 0 relations
22968082.ann :  11 entities 0 relations
17253779.ann :  48 entities 12 relations
23601399.ann :  5 entities 0 relations
23487168.ann :  16 entities 2 relations
23349501.ann :  26 entities 5 relations
23414802.ann :  12 entities 3 relations
23458730.ann :  28 entities 18 relations
23416143.ann :  25 entities 5 relations
17409426.ann :  33 entities 10 relations
8646863.ann :  5 entities 1 relations
23639738.ann :  21 entities 4 relations
22288603.ann :  2 entities 0 relations
23531536.ann :  29 entities 0 relations
23043184.ann :  45 entities 4 relations
23219339.ann :  24 entities 5 relations
17391279.ann :  28 entities 4 relations
18708991.ann :  39 entities 6 relations
14767264.ann :  18 entities 9 relations
2855105.ann :  44 entities 11 relations
23116643.ann :  31 entities 8 relations
17049513.ann :  29 entities 16 relations
12513997.ann :  32 entities 11 relations
10670413.ann :  55 entities 27 relations
23419638.ann :  41 entities 47 relations
23337607.ann :  20 entities 0 relations
23590386.ann :  23 entities 0 relations
23572528.ann :  42 entities 1 relations
16477002.ann :  33 entities 1 relations
23207322.ann :  8 entities 0 relations
23262271.ann :  8 entities 3 relations
19275550.ann :  13 entities 2 relations
17199504.ann :  16 entities 3 relations
23619386.ann :  25 entities 13 relations
9666414.ann :  19 entities 5 relations
23410798.ann :  19 entities 2 relations
23386702.ann :  53 entities 37 relations
12742526.ann :  25 entities 4 relations
16497876.ann :  16 entities 5 relations
18282775.ann :  33 entities 3 relations
23104244.ann :  31 entities 0 relations
20541672.ann :  37 entities 0 relations
23313557.ann :  42 entities 5 relations
12582227.ann :  34 entities 9 relations
23631374.ann :  6 entities 0 relations
2226440.ann :  31 entities 18 relations
23085979.ann :  21 entities 11 relations
19888514.ann :  22 entities 3 relations
15070163.ann :  18 entities 2 relations
23344961.ann :  31 entities 13 relations
8667211.ann :  33 entities 11 relations
9607108.ann :  54 entities 3 relations
15951260.ann :  30 entities 4 relations
16916952.ann :  40 entities 7 relations
23552851.ann :  27 entities 15 relations
11031122.ann :  21 entities 7 relations
17015640.ann :  34 entities 18 relations
11906441.ann :  28 entities 6 relations
16789740.ann :  14 entities 4 relations
17079868.ann :  22 entities 4 relations
11330337.ann :  56 entities 31 relations
16884688.ann :  15 entities 0 relations
19429089.ann :  32 entities 12 relations
23578607.ann :  32 entities 4 relations
19780818.ann :  28 entities 2 relations
14587496.ann :  13 entities 4 relations
23194532.ann :  17 entities 0 relations
23327877.ann :  32 entities 22 relations
16291771.ann :  47 entities 0 relations
23060524.ann :  21 entities 0 relations
20573261.ann :  27 entities 1 relations
12065695.ann :  25 entities 6 relations
22865292.ann :  33 entities 1 relations
18715952.ann :  38 entities 17 relations
17418819.ann :  27 entities 4 relations
15547682.ann :  16 entities 2 relations
23606523.ann :  17 entities 0 relations
15932636.ann :  38 entities 9 relations
10682471.ann :  25 entities 8 relations
23313794.ann :  36 entities 18 relations
22580612.ann :  31 entities 0 relations
7959748.ann :  14 entities 2 relations
23631499.ann :  15 entities 4 relations
23383871.ann :  18 entities 0 relations
23585058.ann :  25 entities 2 relations
17075268.ann :  37 entities 24 relations
23411272.ann :  13 entities 1 relations
23291630.ann :  17 entities 6 relations
23315644.ann :  24 entities 2 relations
23221006.ann :  29 entities 8 relations
12699699.ann :  20 entities 5 relations
15866288.ann :  18 entities 7 relations
23641914.ann :  9 entities 0 relations
23325562.ann :  44 entities 27 relations
23620660.ann :  11 entities 0 relations
10443304.ann :  11 entities 0 relations
23455314.ann :  24 entities 3 relations
23146691.ann :  15 entities 1 relations
15285788.ann :  15 entities 1 relations
23609606.ann :  17 entities 6 relations
10411647.ann :  29 entities 9 relations
23376140.ann :  30 entities 7 relations
23567961.ann :  15 entities 0 relations
17324336.ann :  25 entities 0 relations
16293341.ann :  15 entities 2 relations
23485065.ann :  12 entities 0 relations
23584948.ann :  11 entities 6 relations
22981796.ann :  8 entities 2 relations
23541928.ann :  21 entities 0 relations
23256472.ann :  11 entities 1 relations
23301860.ann :  11 entities 3 relations
17000933.ann :  34 entities 4 relations
23266505.ann :  38 entities 18 relations
22301814.ann :  18 entities 4 relations
17479245.ann :  29 entities 4 relations
23421930.ann :  12 entities 0 relations
23643542.ann :  9 entities 0 relations
12668769.ann :  85 entities 25 relations
11089538.ann :  33 entities 5 relations
11160515.ann :  47 entities 5 relations
23122079.ann :  36 entities 17 relations
8894610.ann :  35 entities 13 relations
23506002.ann :  5 entities 0 relations
14725487.ann :  22 entities 2 relations
23125284.ann :  32 entities 2 relations
23495691.ann :  9 entities 0 relations
14507899.ann :  16 entities 1 relations
23580446.ann :  36 entities 7 relations
23578584.ann :  21 entities 0 relations
23535516.ann :  63 entities 6 relations
23600432.ann :  16 entities 2 relations
23262028.ann :  31 entities 0 relations
23453071.ann :  16 entities 9 relations

23517912.ann :  44 entities 23 relations
23535394.ann :  12 entities 2 relations
23403203.ann :  29 entities 10 relations
23305850.ann :  34 entities 16 relations
23471540.ann :  18 entities 0 relations
17081103.ann :  39 entities 1 relations
10444166.ann :  19 entities 3 relations
23542147.ann :  35 entities 1 relations
8799556.ann :  60 entities 28 relations
19370562.ann :  20 entities 2 relations
19389876.ann :  20 entities 4 relations
23519392.ann :  23 entities 7 relations
16441928.ann :  40 entities 0 relations
23493374.ann :  54 entities 11 relations
23291240.ann :  28 entities 0 relations
17192395.ann :  19 entities 2 relations
10617684.ann :  31 entities 11 relations
23249624.ann :  36 entities 8 relations
1977506.ann :  31 entities 7 relations
23122096.ann :  10 entities 0 relations
16480505.ann :  15 entities 11 relations
23023136.ann :  32 entities 4 relations
17035141.ann :  41 entities 0 relations
12724156.ann :  43 entities 6 relations
17549299.ann :  14 entities 0 relations
20421509.ann :  43 entities 21 relations
16455797.ann :  30 entities 5 relations
17205056.ann :  26 entities 11 relations
17135600.ann :  31 entities 0 relations
23085095.ann :  21 entities 3 relations
12196163.ann :  18 entities 2 relations
20185318.ann :  35 entities 46 relations
23644411.ann :  19 entities 1 relations
23411208.ann :  18 entities 0 relations
23383423.ann :  16 entities 1 relations
15066664.ann :  36 entities 22 relations
23210783.ann :  7 entities 0 relations
6146346.ann :  13 entities 2 relations
23353748.ann :  10 entities 0 relations
16636450.ann :  22 entities 1 relations
23288052.ann :  13 entities 0 relations
23374869.ann :  32 entities 9 relations
23219161.ann :  19 entities 2 relations
23122081.ann :  4 entities 0 relations
12431845.ann :  36 entities 7 relations
17216302.ann :  8 entities 0 relations
23314331.ann :  19 entities 0 relations
2877081.ann :  21 entities 3 relations
23258671.ann :  8 entities 0 relations
23532634.ann :  34 entities 4 relations
16766717.ann :  19 entities 2 relations
23579178.ann :  29 entities 2 relations
20624440.ann :  20 entities 6 relations
10730683.ann :  14 entities 3 relations
23594301.ann :  6 entities 0 relations
23548896.ann :  27 entities 4 relations
15686475.ann :  49 entities 7 relations
23574017.ann :  24 entities 6 relations
8836655.ann :  35 entities 20 relations
23567959.ann :  8 entities 0 relations
23609782.ann :  5 entities 0 relations
15357957.ann :  14 entities 0 relations
7948825.ann :  9 entities 2 relations
22874922.ann :  13 entities 0 relations
15199474.ann :  33 entities 13 relations
16864089.ann :  15 entities 2 relations
15650315.ann :  32 entities 13 relations
23063590.ann :  35 entities 18 relations
12871155.ann :  22 entities 26 relations
14757703.ann :  37 entities 18 relations
23335025.ann :  14 entities 0 relations
18162179.ann :  4 entities 2 relations
15224175.ann :  64 entities 8 relations
23643748.ann :  20 entities 0 relations
23629516.ann :  23 entities 5 relations
23479389.ann :  9 entities 3 relations
11969359.ann :  44 entities 21 relations
23214423.ann :  15 entities 0 relations
23041257.ann :  26 entities 12 relations
23639362.ann :  27 entities 5 relations
12957216.ann :  21 entities 3 relations
12167567.ann :  22 entities 2 relations
23291323.ann :  15 entities 2 relations
16199241.ann :  16 entities 0 relations
23333901.ann :  16 entities 6 relations
17059881.ann :  12 entities 3 relations
23152189.ann :  36 entities 3 relations
23253172.ann :  23 entities 0 relations
23583257.ann :  32 entities 14 relations
17652426.ann :  12 entities 0 relations
23542578.ann :  15 entities 4 relations
23454149.ann :  24 entities 11 relations
17624589.ann :  20 entities 0 relations
7678677.ann :  19 entities 9 relations
17325667.ann :  40 entities 15 relations
10522750.ann :  39 entities 6 relations
10947967.ann :  21 entities 6 relations
17497253.ann :  13 entities 6 relations
23301897.ann :  17 entities 8 relations
23000445.ann :  29 entities 17 relations
15102890.ann :  39 entities 22 relations
23395171.ann :  24 entities 0 relations
22899102.ann :  32 entities 8 relations
23633521.ann :  27 entities 0 relations
23625750.ann :  27 entities 5 relations
20104269.ann :  31 entities 17 relations
23116965.ann :  25 entities 1 relations
15562257.ann :  34 entities 15 relations
23194826.ann :  12 entities 4 relations
21262851.ann :  61 entities 30 relations
23274894.ann :  27 entities 3 relations
23261645.ann :  19 entities 6 relations
8636122.ann :  31 entities 13 relations
23298698.ann :  16 entities 3 relations
23297831.ann :  10 entities 0 relations
23159529.ann :  28 entities 6 relations
23328072.ann :  11 entities 0 relations
23550066.ann :  36 entities 10 relations
17510308.ann :  35 entities 4 relations
23465612.ann :  9 entities 2 relations
22878908.ann :  29 entities 11 relations
14967461.ann :  29 entities 17 relations
11430635.ann :  40 entities 21 relations
23612487.ann :  41 entities 16 relations
17034761.ann :  32 entities 14 relations
22820907.ann :  8 entities 0 relations
23481176.ann :  12 entities 0 relations
12183670.ann :  50 entities 7 relations
18058577.ann :  6 entities 0 relations
17254025.ann :  12 entities 5 relations
15955565.ann :  27 entities 2 relations
23360232.ann :  11 entities 0 relations
12927775.ann :  15 entities 4 relations
7680751.ann :  34 entities 3 relations
7906055.ann :  22 entities 5 relations
23478800.ann :  58 entities 17 relations
1435788.ann :  24 entities 2 relations
15963006.ann :  8 entities 0 relations
23605695.ann :  24 entities 5 relations
10398211.ann :  25 entities 5 relations
23393216.ann :  16 entities 2 relations
23277230.ann :  24 entities 6 relations
23531031.ann :  24 entities 2 relations
23292797.ann :  38 entities 0 relations
14508322.ann :  35 entities 22 relations
15931605.ann :  21 entities 0 relations
12671891.ann :  23 entities 8 relations
17979301.ann :  60 entities 59 relations
18068977.ann :  14 entities 4 relations
10712236.ann :  41 entities 17 relations
23391442.ann :  10 entities 0 relations
23199882.ann :  5 entities 0 relations
23334176.ann :  10 entities 0 relations
9722550.ann :  23 entities 7 relations
22718571.ann :  20 entities 7 relations
10583449.ann :  22 entities 3 relations
23100158.ann :  21 entities 11 relations
23466232.ann :  14 entities 3 relations
2568748.ann :  4 entities 1 relations
2530096.ann :  24 entities 4 relations
10796631.ann :  24 entities 0 relations
23090712.ann :  27 entities 4 relations
10561751.ann :  24 entities 2 relations
14680444.ann :  8 entities 2 relations
23188819.ann :  21 entities 0 relations
23439661.ann :  17 entities 3 relations
12188035.ann :  23 entities 11 relations
7885191.ann :  58 entities 14 relations
11972287.ann :  15 entities 4 relations
23229512.ann :  27 entities 10 relations
23473030.ann :  9 entities 0 relations
23580394.ann :  1 entities 0 relations
23384446.ann :  43 entities 6 relations
18686730.ann :  16 entities 0 relations
23535327.ann :  7 entities 2 relations
23414235.ann :  16 entities 2 relations
23395981.ann :  24 entities 13 relations
23618901.ann :  29 entities 3 relations
23246732.ann :  17 entities 5 relations
23298863.ann :  20 entities 6 relations
23522834.ann :  9 entities 1 relations
9890894.ann :  40 entities 6 relations
23608109.ann :  14 entities 2 relations
17692748.ann :  17 entities 4 relations
23589476.ann :  1 entities 0 relations
23313633.ann :  16 entities 0 relations
17018843.ann :  54 entities 3 relations
10493852.ann :  15 entities 4 relations
23569204.ann :  21 entities 2 relations
16846546.ann :  42 entities 23 relations
23406315.ann :  16 entities 4 relations
23260346.ann :  18 entities 3 relations
15736931.ann :  57 entities 23 relations
10694244.ann :  38 entities 6 relations
19428322.ann :  17 entities 2 relations
23127916.ann :  25 entities 1 relations
23444429.ann :  20 entities 0 relations
11562773.ann :  19 entities 6 relations
17611273.ann :  27 entities 9 relations
16278927.ann :  32 entities 2 relations
11264758.ann :  16 entities 6 relations
23402364.ann :  39 entities 1 relations
1705137.ann :  52 entities 8 relations
23410126.ann :  13 entities 0 relations
23071106.ann :  56 entities 22 relations

23536521.ann :  23 entities 1 relations
12387707.ann :  23 entities 2 relations
16597615.ann :  17 entities 0 relations
11511086.ann :  30 entities 16 relations
17308037.ann :  59 entities 29 relations
14871882.ann :  48 entities 0 relations
16291873.ann :  22 entities 10 relations
23177256.ann :  19 entities 15 relations
9669506.ann :  42 entities 6 relations
10826417.ann :  8 entities 2 relations
23560442.ann :  2 entities 0 relations
23357976.ann :  22 entities 5 relations
17352516.ann :  30 entities 14 relations
23500545.ann :  23 entities 5 relations
12881227.ann :  43 entities 16 relations
23333261.ann :  21 entities 5 relations
12517247.ann :  33 entities 4 relations
23397052.ann :  19 entities 0 relations
16303771.ann :  42 entities 6 relations
23481236.ann :  53 entities 29 relations
16702329.ann :  34 entities 8 relations
8242725.ann :  17 entities 6 relations
23142538.ann :  19 entities 5 relations
16547651.ann :  37 entities 4 relations
22902307.ann :  2 entities 0 relations
23534412.ann :  11 entities 0 relations
23620436.ann :  17 entities 2 relations
23293129.ann :  13 entities 2 relations
11585753.ann :  26 entities 14 relations
16554356.ann :  15 entities 2 relations
2571203.ann :  19 entities 7 relations
23123250.ann :  27 entities 3 relations
17959709.ann :  18 entities 11 relations
16343532.ann :  24 entities 10 relations
23435358.ann :  60 entities 0 relations
14984733.ann :  27 entities 5 relations
17567713.ann :  20 entities 5 relations
13129570.ann :  33 entities 11 relations
23207409.ann :  12 entities 0 relations
23160090.ann :  20 entities 12 relations
23260350.ann :  16 entities 7 relations
12244038.ann :  68 entities 31 relations
17016711.ann :  22 entities 6 relations
23611293.ann :  7 entities 0 relations
23357567.ann :  9 entities 0 relations
10200320.ann :  36 entities 16 relations
23393220.ann :  50 entities 20 relations
23199998.ann :  5 entities 0 relations
22619007.ann :  13 entities 3 relations
23552101.ann :  24 entities 13 relations
19683471.ann :  30 entities 5 relations
23265893.ann :  29 entities 0 relations
21631396.ann :  37 entities 16 relations
23418087.ann :  33 entities 11 relations
16534240.ann :  40 entities 0 relations
17062721.ann :  18 entities 2 relations
23230273.ann :  22 entities 2 relations
23506741.ann :  27 entities 16 relations
10047461.ann :  63 entities 19 relations
16554743.ann :  35 entities 7 relations
10406837.ann :  24 entities 7 relations
23554049.ann :  22 entities 4 relations
23376161.ann :  27 entities 15 relations
23019274.ann :  20 entities 0 relations
23247009.ann :  20 entities 11 relations
17429625.ann :  33 entities 16 relations
17588300.ann :  21 entities 2 relations
12504917.ann :  45 entities 15 relations
23033256.ann :  38 entities 0 relations
23145773.ann :  22 entities 4 relations
8925876.ann :  22 entities 15 relations
10690753.ann :  38 entities 17 relations
8302852.ann :  27 entities 6 relations
15526004.ann :  15 entities 0 relations
23115325.ann :  40 entities 5 relations
17597612.ann :  16 entities 2 relations
23497227.ann :  12 entities 3 relations
16757355.ann :  43 entities 34 relations
10095983.ann :  11 entities 3 relations
23551329.ann :  32 entities 8 relations
23265491.ann :  13 entities 2 relations
23247008.ann :  32 entities 4 relations
20012638.ann :  22 entities 4 relations
23616352.ann :  13 entities 3 relations
23637347.ann :  13 entities 0 relations
17661345.ann :  45 entities 2 relations
23435367.ann :  26 entities 10 relations
22859660.ann :  41 entities 5 relations
16633143.ann :  19 entities 2 relations
6227474.ann :  33 entities 6 relations
12003347.ann :  30 entities 9 relations
17618628.ann :  10 entities 0 relations
20517484.ann :  10 entities 3 relations
10403635.ann :  54 entities 7 relations
8052854.ann :  16 entities 6 relations
23313730.ann :  28 entities 6 relations
11730729.ann :  29 entities 7 relations
23435160.ann :  17 entities 0 relations
23332447.ann :  19 entities 0 relations
20347047.ann :  25 entities 2 relations
23530006.ann :  7 entities 0 relations
23322769.ann :  27 entities 4 relations
20226815.ann :  28 entities 8 relations
23466229.ann :  10 entities 5 relations
6374639.ann :  25 entities 4 relations
10606746.ann :  25 entities 7 relations
23451797.ann :  5 entities 0 relations
11287128.ann :  14 entities 2 relations
23415228.ann :  13 entities 1 relations
23434931.ann :  19 entities 2 relations
16357751.ann :  5 entities 0 relations
23085435.ann :  34 entities 34 relations
23165754.ann :  21 entities 0 relations
23337256.ann :  21 entities 6 relations
23131798.ann :  11 entities 3 relations
23274771.ann :  21 entities 2 relations
14530799.ann :  34 entities 11 relations
16801455.ann :  50 entities 29 relations
23276150.ann :  23 entities 0 relations
23489521.ann :  15 entities 1 relations
11961111.ann :  15 entities 6 relations
16972995.ann :  4 entities 0 relations
23201337.ann :  24 entities 0 relations
23624810.ann :  20 entities 0 relations
16809928.ann :  24 entities 4 relations
10727715.ann :  43 entities 6 relations
1680855.ann :  56 entities 8 relations
12956944.ann :  31 entities 16 relations
23250811.ann :  40 entities 23 relations
23307557.ann :  17 entities 1 relations
23315277.ann :  19 entities 4 relations
23597450.ann :  36 entities 10 relations
23592839.ann :  13 entities 0 relations
17545671.ann :  41 entities 15 relations
23368901.ann :  20 entities 0 relations
23473804.ann :  34 entities 10 relations
23411171.ann :  13 entities 0 relations
1361547.ann :  27 entities 8 relations
17284757.ann :  23 entities 3 relations
23552263.ann :  22 entities 1 relations
23290487.ann :  12 entities 4 relations
15452358.ann :  22 entities 7 relations
23567950.ann :  6 entities 1 relations
22717743.ann :  12 entities 0 relations
23238784.ann :  16 entities 2 relations
23193186.ann :  12 entities 0 relations
19427182.ann :  33 entities 12 relations
12668276.ann :  26 entities 0 relations
23580316.ann :  18 entities 0 relations
16840830.ann :  15 entities 2 relations
23288049.ann :  21 entities 0 relations
10340919.ann :  38 entities 11 relations
15805193.ann :  20 entities 6 relations
17896959.ann :  39 entities 15 relations
17651117.ann :  18 entities 0 relations
12184062.ann :  27 entities 6 relations
12373423.ann :  39 entities 9 relations
10988273.ann :  31 entities 15 relations
19568704.ann :  29 entities 3 relations
23361587.ann :  12 entities 0 relations
23537582.ann :  19 entities 0 relations
23223345.ann :  17 entities 3 relations
23007555.ann :  32 entities 13 relations
23614730.ann :  41 entities 3 relations
3345199.ann :  35 entities 11 relations
16774921.ann :  25 entities 11 relations
15177307.ann :  14 entities 5 relations
23380082.ann :  8 entities 0 relations
23239825.ann :  7 entities 0 relations
11401111.ann :  32 entities 4 relations
14719072.ann :  51 entities 7 relations
23459167.ann :  39 entities 6 relations
23453039.ann :  31 entities 4 relations
23582273.ann :  10 entities 2 relations
23262035.ann :  9 entities 0 relations
23556446.ann :  23 entities 0 relations
23435915.ann :  30 entities 6 relations
23423570.ann :  18 entities 7 relations
16437532.ann :  41 entities 7 relations
15336276.ann :  13 entities 3 relations
23270965.ann :  25 entities 11 relations
17020418.ann :  27 entities 8 relations
17658513.ann :  25 entities 10 relations
23164673.ann :  33 entities 14 relations
17197042.ann :  25 entities 9 relations
22370641.ann :  34 entities 9 relations
17390078.ann :  32 entities 10 relations
7824160.ann :  35 entities 13 relations
17475673.ann :  32 entities 13 relations
23542513.ann :  52 entities 41 relations
17488480.ann :  57 entities 37 relations
16651698.ann :  17 entities 6 relations
12761285.ann :  16 entities 0 relations
3440035.ann :  23 entities 11 relations
23643933.ann :  19 entities 6 relations
23541637.ann :  41 entities 11 relations
17378584.ann :  19 entities 0 relations
23495205.ann :  23 entities 13 relations
17570561.ann :  24 entities 6 relations
17148442.ann :  33 entities 2 relations
22836881.ann :  2 entities 0 relations
16851960.ann :  20 entities 3 relations
23147414.ann :  28 entities 4 relations
17327465.ann :  29 entities 3 relations
23330542.ann :  20 entities 3 relations

23614367.ann :  20 entities 0 relations
23429912.ann :  40 entities 19 relations
15689518.ann :  20 entities 9 relations
2083404.ann :  30 entities 9 relations
15133083.ann :  31 entities 3 relations
10446934.ann :  51 entities 12 relations
3299141.ann :  36 entities 0 relations
23411259.ann :  13 entities 0 relations
11009561.ann :  37 entities 16 relations
17334708.ann :  14 entities 2 relations
12606421.ann :  56 entities 2 relations
15121646.ann :  34 entities 12 relations
15114505.ann :  28 entities 18 relations
23063069.ann :  13 entities 0 relations
19708854.ann :  11 entities 0 relations
23567953.ann :  5 entities 0 relations
22705396.ann :  5 entities 0 relations
23514378.ann :  11 entities 1 relations
23473032.ann :  27 entities 1 relations
15908512.ann :  31 entities 16 relations
17616291.ann :  24 entities 0 relations
12067524.ann :  30 entities 11 relations
23265892.ann :  10 entities 3 relations
23291559.ann :  27 entities 7 relations
23318726.ann :  34 entities 12 relations
23386780.ann :  23 entities 0 relations
23344974.ann :  7 entities 2 relations
16876126.ann :  17 entities 9 relations
23531488.ann :  20 entities 6 relations
11792932.ann :  45 entities 2 relations
23600800.ann :  35 entities 2 relations
23641685.ann :  29 entities 0 relations
22991330.ann :  10 entities 0 relations
15898717.ann :  19 entities 2 relations
10950934.ann :  31 entities 5 relations
23612710.ann :  13 entities 0 relations
22983867.ann :  31 entities 22 relations
23349485.ann :  21 entities 0 relations
23583806.ann :  19 entities 2 relations
23313376.ann :  44 entities 26 relations
15078100.ann :  24 entities 9 relations
23017388.ann :  19 entities 10 relations
23154865.ann :  18 entities 0 relations
2833901.ann :  78 entities 53 relations
17494951.ann :  50 entities 18 relations
19836445.ann :  42 entities 4 relations
14692707.ann :  17 entities 6 relations
23256725.ann :  24 entities 3 relations
15732037.ann :  34 entities 11 relations
17561836.ann :  21 entities 0 relations
12904467.ann :  24 entities 7 relations
16690332.ann :  48 entities 5 relations
22815248.ann :  36 entities 10 relations
15126366.ann :  37 entities 25 relations
23259985.ann :  19 entities 0 relations
23473681.ann :  22 entities 10 relations
23216335.ann :  2 entities 0 relations
23446230.ann :  29 entities 10 relations
23221868.ann :  29 entities 1 relations
11034583.ann :  22 entities 7 relations
20427668.ann :  18 entities 8 relations
23183186.ann :  51 entities 4 relations
23409763.ann :  9 entities 2 relations
14638499.ann :  29 entities 8 relations
9509999.ann :  17 entities 0 relations
23333577.ann :  47 entities 38 relations
20618322.ann :  13 entities 0 relations
15465035.ann :  30 entities 15 relations
23294255.ann :  12 entities 0 relations
23178380.ann :  18 entities 1 relations
22484424.ann :  17 entities 0 relations
23273219.ann :  13 entities 5 relations
23414340.ann :  54 entities 7 relations
17919259.ann :  22 entities 2 relations
23164618.ann :  20 entities 0 relations
16978033.ann :  34 entities 7 relations
21838705.ann :  21 entities 2 relations
23530018.ann :  38 entities 17 relations
23220589.ann :  41 entities 11 relations
17603755.ann :  8 entities 1 relations
16674097.ann :  8 entities 0 relations
23249751.ann :  16 entities 1 relations
14529460.ann :  11 entities 0 relations
18381445.ann :  30 entities 6 relations
23360412.ann :  27 entities 1 relations
11299519.ann :  16 entities 3 relations
21475861.ann :  19 entities 3 relations
23632905.ann :  43 entities 9 relations
23179966.ann :  39 entities 0 relations
15673388.ann :  12 entities 4 relations
16305240.ann :  19 entities 5 relations
20801130.ann :  42 entities 19 relations
23362262.ann :  54 entities 2 relations
23509039.ann :  6 entities 0 relations
22935616.ann :  63 entities 2 relations
17035524.ann :  22 entities 0 relations
23564313.ann :  34 entities 19 relations
17210712.ann :  58 entities 7 relations
23550028.ann :  23 entities 6 relations
23643730.ann :  28 entities 8 relations
17034586.ann :  22 entities 0 relations
10847421.ann :  8 entities 0 relations
10891536.ann :  52 entities 14 relations
14600253.ann :  28 entities 12 relations
17161452.ann :  24 entities 8 relations
23524316.ann :  18 entities 0 relations
23344956.ann :  16 entities 0 relations
23454835.ann :  11 entities 1 relations
23621521.ann :  2 entities 0 relations
23489628.ann :  12 entities 4 relations
10626836.ann :  32 entities 23 relations
15598972.ann :  26 entities 9 relations
23557706.ann :  38 entities 9 relations
17397529.ann :  30 entities 0 relations
10999950.ann :  52 entities 16 relations
7582530.ann :  32 entities 10 relations
23505146.ann :  5 entities 0 relations
23601990.ann :  23 entities 12 relations
7974294.ann :  25 entities 0 relations
23532918.ann :  28 entities 8 relations
7832763.ann :  32 entities 13 relations
16484281.ann :  32 entities 10 relations
10954021.ann :  19 entities 1 relations

In [43]:
save_path

'/home/antonis/data/biocreative6/ChemProt_Corpus/brat/chemprot_training'

### # # # # # # 
### OLD CODE

In [24]:
#filter out rels not related in regulation
relationships_regul = relationships[(relationships['group']=='CPR:3') | (relationships['group']=='CPR:4')]

In [40]:
print "Total + relationships: %i (%.2f%%)" %(len(relationships_regul), float(len(relationships_regul))/len(relationships))
print "Total # entities:", len(entities)
print "Total documents:", len(entities.doc_id.unique())

Total + relationships: 1655 (0.47%)
Total # entities: 15567
Total documents: 612

In [123]:
# hack to write without \t
relationships_regul['rel'] = map(lambda x,y,z: "%s %s %s"%(x,y,z) , relationships_regul.CPR, relationships_regul.arg1, relationships_regul.arg2)

/home/antonis/anaconda2/envs/python27/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [142]:
relationships_regul['idx'] = map(lambda x: "R%i"%x ,relationships.index)

In [144]:
relationships_regul = relationships_regul[['doc_id','idx','rel']]

In [145]:
relationships_regul.tail()

       doc_id    idx                         rel
3553  9876137  R3553  INHIBITOR Arg1:T5 Arg2:T13
3554  9876137  R3554  INHIBITOR Arg1:T5 Arg2:T14
3555  9876137  R3555  INHIBITOR Arg1:T5 Arg2:T16
3556  9876137  R3556  INHIBITOR Arg1:T6 Arg2:T16
3557  9876137  R3557  INHIBITOR Arg1:T8 Arg2:T23

** How many relationships in how many abstracts? **

In [49]:
print( "Docs with entities: %s "%len(entities.doc_id.unique()))
print "Docs with any kind of relations: %i (%.2f%%)"%(len(relationships.doc_id.unique()), len(relationships.doc_id.unique())/float(len(entities.doc_id.unique())))
print "Docs with + relations: %i (%.2f%%)"%(len(relationships_regul.doc_id.unique()), len(relationships_regul.doc_id.unique())/float(len(entities.doc_id.unique())))

Docs with entities: 612
Docs with any kind of relations: 443 (0.72%)
Docs with + relations: 294 (0.48%)

# Write file out

In [146]:
for doc_id in entities.doc_id.unique():
    save_path = '%s%s.ann'%(save_path_root,doc_id)

    #write out entities
    entities[entities.doc_id==doc_id].drop('doc_id',axis=1).to_csv(save_path,sep='\t',header=None,index=False)
    
    #write out relationships
    relationships_regul[relationships_regul.doc_id==doc_id].drop('doc_id',axis=1).to_csv(save_path,sep='\t',header=None,mode='a',index=False)
    
    print save_path.split('/')[-1], ': ',len(entities[entities.doc_id==doc_id]), 'entities', len(relationships_regul[relationships_regul.doc_id==doc_id]),'relations'

10064839.ann :  56 entities 0 relations
10082498.ann :  34 entities 5 relations
10193663.ann :  35 entities 0 relations
10193665.ann :  30 entities 0 relations
10226872.ann :  31 entities 0 relations
10362188.ann :  25 entities 2 relations
10373224.ann :  35 entities 9 relations
10381787.ann :  22 entities 8 relations
10432475.ann :  62 entities 0 relations
10439935.ann :  28 entities 2 relations
10460702.ann :  44 entities 3 relations
10531013.ann :  14 entities 8 relations
10546982.ann :  20 entities 3 relations
10575283.ann :  18 entities 0 relations
10579749.ann :  45 entities 0 relations
10637238.ann :  18 entities 0 relations
10683249.ann :  36 entities 1 relations
10688973.ann :  41 entities 0 relations
10697523.ann :  24 entities 5 relations
10698696.ann :  30 entities 0 relations
10742288.ann :  25 entities 0 relations
10796070.ann :  19 entities 1 relations
10800083.ann :  34 entities 0 relations
10839333.ann :  21 entities 1 relations
10866053.ann :  33 entities 0 relations
10887187.ann :  28 entities 3 relations
10917903.ann :  32 entities 2 relations
10931813.ann :  25 entities 5 relations
10933891.ann :  32 entities 11 relations
10939639.ann :  20 entities 4 relations
10942908.ann :  22 entities 6 relations
11056242.ann :  16 entities 3 relations
11146120.ann :  35 entities 10 relations
11157886.ann :  21 entities 4 relations
11243491.ann :  37 entities 0 relations
11246504.ann :  17 entities 0 relations
11252887.ann :  14 entities 9 relations
11304699.ann :  18 entities 2 relations
11309392.ann :  31 entities 1 relations
11318430.ann :  10 entities 4 relations
11392054.ann :  39 entities 0 relations
11393267.ann :  19 entities 4 relations
11481271.ann :  39 entities 0 relations
11742712.ann :  16 entities 6 relations
11752472.ann :  38 entities 0 relations
11772142.ann :  33 entities 2 relations
11799102.ann :  48 entities 16 relations
11808879.ann :  14 entities 0 relations
11893059.ann :  8 entities 3 relations
11970990.ann :  33 entities 0 relations
12046682.ann :  4 entities 1 relations
12063741.ann :  11 entities 2 relations
12080538.ann :  25 entities 2 relations
12082550.ann :  29 entities 1 relations
12137927.ann :  31 entities 2 relations
12170059.ann :  37 entities 0 relations
12180353.ann :  22 entities 1 relations
12181427.ann :  32 entities 19 relations
12217700.ann :  38 entities 0 relations
12383039.ann :  8 entities 1 relations
12409268.ann :  30 entities 0 relations
12445705.ann :  64 entities 6 relations
12545144.ann :  17 entities 3 relations
12588370.ann :  21 entities 2 relations
12623106.ann :  23 entities 0 relations
12657913.ann :  31 entities 4 relations
12679340.ann :  34 entities 1 relations
12692940.ann :  15 entities 0 relations
12699389.ann :  17 entities 0 relations
12783542.ann :  31 entities 0 relations
1280065.ann :  49 entities 4 relations
12818701.ann :  33 entities 0 relations
12824918.ann :  12 entities 1 relations
12827214.ann :  46 entities 0 relations
12837768.ann :  27 entities 0 relations
1284246.ann :  29 entities 0 relations
12844134.ann :  17 entities 0 relations
12901032.ann :  25 entities 8 relations
12927226.ann :  24 entities 2 relations
1318989.ann :  29 entities 0 relations
1322429.ann :  39 entities 10 relations
1326878.ann :  7 entities 0 relations
1329582.ann :  18 entities 0 relations
1351412.ann :  22 entities 0 relations
1359745.ann :  31 entities 3 relations
14506245.ann :  55 entities 0 relations
14564902.ann :  8 entities 0 relations
14583450.ann :  54 entities 1 relations
14588118.ann :  17 entities 3 relations
14602594.ann :  18 entities 0 relations
14619588.ann :  19 entities 2 relations
14659797.ann :  14 entities 0 relations
14722255.ann :  26 entities 0 relations
14757145.ann :  21 entities 1 relations
14757700.ann :  63 entities 16 relations
15049511.ann :  26 entities 6 relations
15058382.ann :  17 entities 0 relations
15075397.ann :  17 entities 0 relations
15109613.ann :  12 entities 1 relations
15180525.ann :  53 entities 37 relations
15192023.ann :  39 entities 18 relations
15198222.ann :  32 entities 15 relations
1526623.ann :  43 entities 0 relations
15291969.ann :  43 entities 0 relations
15292070.ann :  2 entities 1 relations
15299009.ann :  12 entities 0 relations
15325927.ann :  14 entities 3 relations
15367040.ann :  6 entities 0 relations
1543672.ann :  25 entities 5 relations
15446566.ann :  26 entities 0 relations
15474503.ann :  41 entities 17 relations
15557593.ann :  19 entities 7 relations
15563928.ann :  26 entities 2 relations
15612980.ann :  36 entities 0 relations
15629255.ann :  24 entities 0 relations
15646028.ann :  24 entities 3 relations
15665864.ann :  23 entities 3 relations
15671155.ann :  37 entities 4 relations
15694653.ann :  12 entities 0 relations
15700891.ann :  6 entities 0 relations
15737409.ann :  37 entities 1 relations
15787205.ann :  13 entities 1 relations
15811959.ann :  23 entities 4 relations
15837926.ann :  24 entities 0 relations
15840827.ann :  27 entities 0 relations
15854045.ann :  24 entities 0 relations
15937104.ann :  27 entities 0 relations
15992586.ann :  39 entities 0 relations
1600046.ann :  27 entities 3 relations
16018973.ann :  16 entities 1 relations
1612232.ann :  4 entities 0 relations
16232421.ann :  38 entities 0 relations
16262557.ann :  9 entities 0 relations
16268464.ann :  39 entities 0 relations
16292755.ann :  39 entities 12 relations
16298345.ann :  23 entities 0 relations
16316409.ann :  44 entities 1 relations
16322797.ann :  32 entities 1 relations
16325050.ann :  29 entities 0 relations
16344985.ann :  36 entities 5 relations
16359899.ann :  14 entities 2 relations
16371234.ann :  49 entities 2 relations
16425993.ann :  29 entities 14 relations
16449956.ann :  17 entities 0 relations
16488503.ann :  26 entities 0 relations
16596248.ann :  13 entities 1 relations
16597468.ann :  19 entities 0 relations
16597625.ann :  20 entities 0 relations
16642960.ann :  13 entities 0 relations
1665782.ann :  27 entities 1 relations
1666997.ann :  29 entities 0 relations
16675639.ann :  42 entities 4 relations
16719540.ann :  24 entities 0 relations
16741658.ann :  34 entities 0 relations
16741870.ann :  28 entities 0 relations
16763553.ann :  31 entities 4 relations
16769115.ann :  12 entities 1 relations
16775509.ann :  14 entities 0 relations
16782282.ann :  36 entities 0 relations
16782438.ann :  27 entities 6 relations
16784786.ann :  50 entities 0 relations
16819260.ann :  20 entities 2 relations
16828882.ann :  30 entities 2 relations
16829128.ann :  18 entities 10 relations
16854582.ann :  34 entities 0 relations
16855093.ann :  28 entities 3 relations
1687367.ann :  27 entities 0 relations
16874462.ann :  26 entities 0 relations
16893531.ann :  33 entities 3 relations
16917142.ann :  33 entities 1 relations
16926278.ann :  61 entities 2 relations
16938288.ann :  38 entities 9 relations
16957773.ann :  23 entities 0 relations
16971132.ann :  12 entities 4 relations
16973729.ann :  27 entities 0 relations
16985933.ann :  12 entities 0 relations
16988497.ann :  36 entities 14 relations
17013809.ann :  15 entities 0 relations
17023173.ann :  9 entities 1 relations
17053736.ann :  15 entities 0 relations
17065601.ann :  31 entities 0 relations
17090056.ann :  33 entities 0 relations
17098734.ann :  24 entities 0 relations
17100196.ann :  4 entities 0 relations
17110146.ann :  46 entities 5 relations
17125913.ann :  43 entities 12 relations
17202804.ann :  69 entities 6 relations
17218486.ann :  54 entities 7 relations
17221210.ann :  27 entities 2 relations
17228881.ann :  40 entities 15 relations
17229090.ann :  48 entities 0 relations
17234158.ann :  25 entities 16 relations
17256745.ann :  42 entities 0 relations
17290783.ann :  16 entities 0 relations
17303537.ann :  10 entities 0 relations
1730582.ann :  44 entities 5 relations
17311416.ann :  46 entities 0 relations
17315258.ann :  42 entities 0 relations
17319904.ann :  28 entities 2 relations
17320868.ann :  36 entities 0 relations
17324065.ann :  20 entities 7 relations
17327402.ann :  20 entities 0 relations
17333241.ann :  25 entities 0 relations
17334413.ann :  63 entities 3 relations
17344208.ann :  33 entities 0 relations
17347380.ann :  35 entities 0 relations
17352685.ann :  22 entities 4 relations
17354225.ann :  29 entities 0 relations
17367165.ann :  37 entities 1 relations
17379925.ann :  26 entities 0 relations
17380207.ann :  19 entities 0 relations
17403555.ann :  62 entities 0 relations
17409318.ann :  30 entities 0 relations
17413769.ann :  30 entities 0 relations
17468175.ann :  27 entities 0 relations
17475961.ann :  19 entities 0 relations
17496727.ann :  27 entities 1 relations
17498496.ann :  43 entities 0 relations
17512091.ann :  40 entities 5 relations
17550897.ann :  43 entities 0 relations
17554001.ann :  33 entities 0 relations
17578749.ann :  17 entities 0 relations
17581967.ann :  27 entities 10 relations
17590520.ann :  8 entities 0 relations
17594192.ann :  29 entities 12 relations
17603545.ann :  18 entities 0 relations
17603555.ann :  61 entities 15 relations
17604186.ann :  30 entities 6 relations
17617661.ann :  20 entities 0 relations

17627474.ann :  32 entities 2 relations
17632548.ann :  50 entities 0 relations
17704420.ann :  33 entities 0 relations
17768678.ann :  44 entities 11 relations
17869551.ann :  37 entities 2 relations
17916059.ann :  16 entities 0 relations
17980251.ann :  30 entities 0 relations
18045203.ann :  15 entities 0 relations
18450949.ann :  20 entities 4 relations
18466433.ann :  3 entities 0 relations
18480678.ann :  32 entities 2 relations
18593822.ann :  64 entities 0 relations
18593927.ann :  15 entities 1 relations
18604229.ann :  29 entities 2 relations
18620538.ann :  14 entities 0 relations
18655903.ann :  80 entities 0 relations
1868500.ann :  29 entities 13 relations
18803986.ann :  53 entities 10 relations
1881457.ann :  28 entities 6 relations
18973551.ann :  38 entities 6 relations
18974361.ann :  28 entities 4 relations
19002123.ann :  24 entities 0 relations
19023039.ann :  40 entities 13 relations
19057128.ann :  29 entities 13 relations
19119014.ann :  37 entities 16 relations
19281809.ann :  38 entities 5 relations
19293728.ann :  37 entities 4 relations
19399743.ann :  4 entities 0 relations
19472276.ann :  14 entities 0 relations
19496999.ann :  32 entities 0 relations
19651196.ann :  30 entities 11 relations
19837759.ann :  22 entities 0 relations
19852528.ann :  25 entities 0 relations
19888521.ann :  6 entities 0 relations
20053189.ann :  30 entities 8 relations
20151846.ann :  15 entities 1 relations
20496522.ann :  7 entities 0 relations
21207059.ann :  11 entities 0 relations
2125244.ann :  17 entities 6 relations
21606412.ann :  21 entities 10 relations
22258629.ann :  10 entities 0 relations
22287617.ann :  26 entities 0 relations
22370636.ann :  19 entities 2 relations
22447684.ann :  21 entities 0 relations
22469981.ann :  16 entities 0 relations
22578098.ann :  24 entities 0 relations
22614014.ann :  13 entities 0 relations
22677475.ann :  7 entities 0 relations
2268554.ann :  28 entities 12 relations
22709946.ann :  15 entities 1 relations
22722028.ann :  18 entities 5 relations
22749926.ann :  11 entities 2 relations
22798247.ann :  15 entities 0 relations
22889582.ann :  4 entities 0 relations
22893351.ann :  17 entities 0 relations
22923473.ann :  13 entities 0 relations
22943130.ann :  12 entities 0 relations
22956632.ann :  25 entities 1 relations
22966070.ann :  48 entities 0 relations
22982218.ann :  23 entities 7 relations
22989703.ann :  25 entities 2 relations
23000451.ann :  17 entities 0 relations
23000507.ann :  18 entities 0 relations
23002036.ann :  66 entities 0 relations
23008503.ann :  30 entities 5 relations
23019137.ann :  38 entities 2 relations
23042952.ann :  47 entities 6 relations
23042953.ann :  16 entities 0 relations
23042954.ann :  18 entities 0 relations
23044709.ann :  28 entities 0 relations
23047022.ann :  37 entities 4 relations
23047828.ann :  27 entities 0 relations
23047912.ann :  21 entities 5 relations
23050902.ann :  47 entities 21 relations
23052195.ann :  45 entities 0 relations
23066089.ann :  51 entities 13 relations
23073075.ann :  30 entities 4 relations
23075005.ann :  19 entities 2 relations
23085436.ann :  24 entities 0 relations
23091188.ann :  54 entities 8 relations
23099431.ann :  11 entities 1 relations
23102509.ann :  34 entities 0 relations
23103563.ann :  25 entities 4 relations
23117151.ann :  33 entities 2 relations
23122072.ann :  4 entities 0 relations
23123257.ann :  6 entities 1 relations
23123298.ann :  23 entities 5 relations
23123662.ann :  43 entities 0 relations
23128353.ann :  23 entities 8 relations
23131177.ann :  28 entities 0 relations
23142699.ann :  21 entities 2 relations
23143891.ann :  26 entities 0 relations
23159329.ann :  25 entities 6 relations
23159479.ann :  12 entities 0 relations
23161868.ann :  21 entities 5 relations
23164615.ann :  15 entities 0 relations
23178182.ann :  40 entities 1 relations
23181488.ann :  6 entities 0 relations
23182766.ann :  21 entities 1 relations
23187687.ann :  4 entities 0 relations
23192339.ann :  35 entities 1 relations
23194076.ann :  25 entities 3 relations
23194511.ann :  16 entities 0 relations
23194548.ann :  11 entities 0 relations
23198819.ann :  6 entities 0 relations
23200732.ann :  25 entities 0 relations
23201003.ann :  28 entities 3 relations
23202250.ann :  7 entities 0 relations
23205763.ann :  6 entities 0 relations
23208787.ann :  2 entities 0 relations
23210662.ann :  15 entities 0 relations
23212306.ann :  24 entities 0 relations
23215039.ann :  11 entities 0 relations
23218950.ann :  25 entities 0 relations
23220614.ann :  49 entities 19 relations
23220618.ann :  36 entities 14 relations
23220644.ann :  18 entities 6 relations
23220749.ann :  28 entities 4 relations
23221600.ann :  35 entities 4 relations
23223177.ann :  35 entities 7 relations
23228696.ann :  41 entities 20 relations
23228697.ann :  35 entities 9 relations
23229509.ann :  26 entities 0 relations
23229510.ann :  28 entities 6 relations
23231492.ann :  14 entities 0 relations
23233034.ann :  7 entities 0 relations
23234313.ann :  9 entities 0 relations
23240892.ann :  22 entities 3 relations
23246481.ann :  25 entities 18 relations
23253441.ann :  6 entities 1 relations
23254198.ann :  27 entities 6 relations
23257735.ann :  13 entities 0 relations
23261524.ann :  23 entities 4 relations
23261589.ann :  32 entities 10 relations
23261591.ann :  4 entities 0 relations
23261676.ann :  34 entities 8 relations
23261757.ann :  14 entities 4 relations
23265459.ann :  25 entities 0 relations
23265505.ann :  6 entities 0 relations
23265539.ann :  13 entities 0 relations
23265905.ann :  9 entities 1 relations
23266270.ann :  36 entities 17 relations
23266271.ann :  12 entities 0 relations
23267011.ann :  32 entities 0 relations
23267840.ann :  28 entities 0 relations
23274086.ann :  15 entities 0 relations
23281812.ann :  21 entities 2 relations
23282066.ann :  16 entities 1 relations
23292249.ann :  56 entities 0 relations
23294326.ann :  18 entities 0 relations
23295740.ann :  31 entities 9 relations
23296100.ann :  25 entities 0 relations
23297412.ann :  27 entities 3 relations
23298577.ann :  24 entities 0 relations
23299080.ann :  22 entities 0 relations
23305921.ann :  28 entities 6 relations
23307549.ann :  14 entities 2 relations
23312278.ann :  4 entities 0 relations
23318731.ann :  26 entities 2 relations
23318833.ann :  30 entities 5 relations
23319419.ann :  41 entities 5 relations
23319591.ann :  19 entities 0 relations
23321689.ann :  24 entities 0 relations
23322164.ann :  47 entities 0 relations
23324400.ann :  10 entities 0 relations
23327668.ann :  9 entities 0 relations
23327794.ann :  15 entities 0 relations
23331067.ann :  22 entities 0 relations
23332762.ann :  33 entities 0 relations
23334403.ann :  27 entities 0 relations
23339682.ann :  14 entities 0 relations
23341458.ann :  50 entities 0 relations
23348754.ann :  24 entities 0 relations
23349488.ann :  22 entities 0 relations
23349489.ann :  7 entities 0 relations
23353901.ann :  49 entities 1 relations
23361846.ann :  33 entities 1 relations
23363083.ann :  5 entities 0 relations
23364612.ann :  10 entities 0 relations
23368996.ann :  3 entities 0 relations
23373701.ann :  37 entities 6 relations
23373704.ann :  10 entities 0 relations
23376217.ann :  24 entities 0 relations
23376249.ann :  14 entities 3 relations
23376356.ann :  31 entities 8 relations
23376546.ann :  37 entities 0 relations
23380477.ann :  21 entities 2 relations
23382379.ann :  23 entities 0 relations
23382381.ann :  40 entities 4 relations
23384387.ann :  24 entities 4 relations
23384447.ann :  25 entities 0 relations
23385325.ann :  14 entities 0 relations
23386248.ann :  26 entities 0 relations
23386417.ann :  26 entities 0 relations
23389043.ann :  20 entities 0 relations
23391443.ann :  10 entities 0 relations
23395804.ann :  42 entities 0 relations
23397032.ann :  39 entities 1 relations
23400747.ann :  23 entities 0 relations
23402270.ann :  8 entities 0 relations
23402856.ann :  30 entities 6 relations
23403092.ann :  20 entities 2 relations
23403272.ann :  34 entities 13 relations
23403537.ann :  2 entities 0 relations
23404093.ann :  16 entities 0 relations
23406025.ann :  24 entities 0 relations
23409765.ann :  10 entities 0 relations
23411235.ann :  16 entities 1 relations
23411251.ann :  7 entities 0 relations
23411279.ann :  14 entities 5 relations
23411280.ann :  18 entities 1 relations
23414838.ann :  10 entities 0 relations
23416002.ann :  18 entities 10 relations
23416065.ann :  27 entities 1 relations
23423942.ann :  8 entities 0 relations
23423972.ann :  8 entities 0 relations
23424204.ann :  32 entities 5 relations
23424207.ann :  56 entities 17 relations
23425605.ann :  28 entities 2 relations
23428155.ann :  10 entities 1 relations
23430109.ann :  39 entities 5 relations
23432582.ann :  22 entities 3 relations
23434223.ann :  11 entities 2 relations
23434640.ann :  9 entities 0 relations
23434829.ann :  39 entities 0 relations
23436791.ann :  21 entities 0 relations
23443628.ann :  14 entities 0 relations
23452205.ann :  13 entities 0 relations
23454148.ann :  34 entities 2 relations
23454527.ann :  17 entities 2 relations
23455312.ann :  37 entities 3 relations
23455597.ann :  21 entities 0 relations
23456038.ann :  20 entities 0 relations
23461378.ann :  14 entities 0 relations

23461841.ann :  20 entities 0 relations
23466460.ann :  13 entities 0 relations
23466488.ann :  58 entities 5 relations
23466526.ann :  18 entities 0 relations
23470280.ann :  26 entities 0 relations
23470776.ann :  9 entities 0 relations
23473037.ann :  17 entities 0 relations
23473679.ann :  11 entities 0 relations
23473801.ann :  35 entities 13 relations
23474014.ann :  7 entities 0 relations
23474386.ann :  11 entities 1 relations
23477419.ann :  21 entities 0 relations
23478260.ann :  14 entities 0 relations
23485402.ann :  33 entities 0 relations
23493372.ann :  30 entities 0 relations
23493568.ann :  34 entities 0 relations
23494106.ann :  27 entities 6 relations
23494802.ann :  16 entities 0 relations
23494944.ann :  21 entities 7 relations
23495999.ann :  22 entities 0 relations
23497878.ann :  8 entities 0 relations
23499825.ann :  6 entities 0 relations
23500058.ann :  18 entities 0 relations
23500387.ann :  21 entities 5 relations
23500491.ann :  24 entities 0 relations
23500550.ann :  21 entities 0 relations
23504356.ann :  4 entities 0 relations
23510370.ann :  26 entities 0 relations
23511016.ann :  11 entities 6 relations
23511125.ann :  25 entities 1 relations
23511711.ann :  20 entities 2 relations
23512501.ann :  19 entities 0 relations
23512537.ann :  23 entities 0 relations
23512754.ann :  21 entities 7 relations
23517558.ann :  8 entities 2 relations
23517733.ann :  21 entities 0 relations
23519149.ann :  29 entities 2 relations
23521495.ann :  5 entities 0 relations
23523780.ann :  12 entities 2 relations
23523781.ann :  24 entities 0 relations
23524567.ann :  6 entities 0 relations
23525167.ann :  9 entities 0 relations
23526814.ann :  15 entities 12 relations
23528299.ann :  10 entities 5 relations
23530959.ann :  15 entities 0 relations
23535337.ann :  31 entities 4 relations
23536314.ann :  14 entities 2 relations
23537661.ann :  18 entities 0 relations
23537702.ann :  8 entities 0 relations
23538201.ann :  29 entities 0 relations
23541399.ann :  7 entities 0 relations
23541670.ann :  11 entities 4 relations
23542114.ann :  13 entities 5 relations
23545458.ann :  11 entities 0 relations
23546605.ann :  29 entities 0 relations
23547843.ann :  16 entities 0 relations
23556445.ann :  13 entities 0 relations
23558678.ann :  18 entities 0 relations
23561166.ann :  20 entities 8 relations
23562060.ann :  21 entities 0 relations
23562076.ann :  20 entities 0 relations
23567041.ann :  7 entities 0 relations
23567243.ann :  19 entities 3 relations
23570998.ann :  24 entities 7 relations
23572520.ann :  21 entities 0 relations
23578993.ann :  54 entities 11 relations
23583258.ann :  30 entities 16 relations
23585333.ann :  8 entities 0 relations
23585555.ann :  11 entities 0 relations
23588308.ann :  14 entities 0 relations
23588312.ann :  22 entities 0 relations
23589329.ann :  32 entities 11 relations
23591044.ann :  53 entities 10 relations
23597507.ann :  23 entities 0 relations
23598363.ann :  52 entities 33 relations
23598904.ann :  31 entities 0 relations
23601700.ann :  25 entities 0 relations
23601710.ann :  11 entities 4 relations
23602986.ann :  25 entities 0 relations
23603059.ann :  29 entities 8 relations
23603382.ann :  20 entities 10 relations
23604720.ann :  20 entities 3 relations
23604819.ann :  8 entities 0 relations
23606243.ann :  9 entities 0 relations
23608239.ann :  24 entities 0 relations
23608535.ann :  30 entities 0 relations
23611809.ann :  48 entities 0 relations
23611835.ann :  22 entities 1 relations
23614643.ann :  23 entities 1 relations
23615471.ann :  39 entities 19 relations
23618921.ann :  40 entities 6 relations
23621358.ann :  21 entities 0 relations
23623750.ann :  50 entities 0 relations
23625813.ann :  4 entities 0 relations
23625910.ann :  33 entities 0 relations
23625915.ann :  55 entities 7 relations
23628454.ann :  20 entities 0 relations
23628605.ann :  32 entities 0 relations
23631440.ann :  21 entities 8 relations
23633618.ann :  11 entities 0 relations
23638842.ann :  18 entities 6 relations
23639191.ann :  46 entities 9 relations
23639249.ann :  30 entities 19 relations
23639586.ann :  16 entities 0 relations
23639626.ann :  36 entities 8 relations
23644200.ann :  10 entities 0 relations
2386945.ann :  49 entities 1 relations
2506486.ann :  44 entities 6 relations
2554783.ann :  6 entities 0 relations
2751392.ann :  17 entities 0 relations
2832297.ann :  18 entities 2 relations
2857786.ann :  21 entities 4 relations
2891463.ann :  28 entities 3 relations
2994716.ann :  11 entities 0 relations
3004987.ann :  11 entities 0 relations
3094574.ann :  37 entities 4 relations
3146348.ann :  27 entities 13 relations
3812589.ann :  16 entities 0 relations
6725552.ann :  40 entities 0 relations
7500004.ann :  38 entities 4 relations
7516184.ann :  33 entities 0 relations
7554708.ann :  32 entities 5 relations
7601910.ann :  24 entities 0 relations
7703721.ann :  11 entities 0 relations
7714410.ann :  25 entities 0 relations
7756657.ann :  13 entities 1 relations
7825862.ann :  36 entities 6 relations
7902561.ann :  20 entities 1 relations
8032658.ann :  71 entities 1 relations
8150771.ann :  23 entities 0 relations
8294418.ann :  37 entities 19 relations
8384716.ann :  46 entities 1 relations
8425287.ann :  42 entities 3 relations
8566141.ann :  33 entities 9 relations
8697470.ann :  42 entities 4 relations
8710929.ann :  21 entities 2 relations
8733007.ann :  21 entities 0 relations
8740147.ann :  58 entities 11 relations
8836617.ann :  25 entities 0 relations
9486667.ann :  41 entities 10 relations
9521275.ann :  10 entities 1 relations
9525919.ann :  26 entities 0 relations
9596079.ann :  28 entities 0 relations
9631585.ann :  12 entities 4 relations
9673855.ann :  41 entities 7 relations
9710435.ann :  35 entities 9 relations
9832994.ann :  28 entities 2 relations
9851542.ann :  37 entities 4 relations
9876137.ann :  23 entities 7 relations