In [69]:
import glob
import codecs
import pandas as pd

In [ ]:
from preprocessing import entities_to_dict, standoff_to_df

** Select which NER tags to use **

In [42]:
extractor_name = 'leadmine'

** Find annotations and insert to df **

## Combine NER inputs (eg. LeadMine -> Chemicals  &  MEDSCAN -> Genes )

### extract chemicals from LeadMine

In [ ]:
extractor_name = 'leadmine'
ann_files = glob.glob("/home/antonis/data/biocreative6/%s/*/*.ann"%extractor_name)

entities = standoff_to_df(ann_files, entity_type_mapping = {'CHEMICAL': 'Chemical'})

### extract genes (Neji) and append to chemicals

In [3]:
extractor_name = 'neji'
ann_files = glob.glob("/home/antonis/data/biocreative6/%s/*/*.ann"%extractor_name)

entities = entities.append(standoff_to_df(ann_files,filter_types=['Gene'],), ignore_index=True)

Found 2418 standoff files
initializing df
163.425029993
Extracted 29420 entities
Found 2432 standoff files
initializing df
93.1872041225
Extracted 20165 entities

In [10]:
entities.head()

,doc_id,EntityType,start,stop,EntityText,tup
0,18480678,Chemical,54,69,methylphenidate,"(Chemical|methylphenidate, 54, 69)"
1,18480678,Chemical,116,131,methylphenidate,"(Chemical|methylphenidate, 116, 131)"
2,18480678,Chemical,256,271,methylphenidate,"(Chemical|methylphenidate, 256, 271)"
3,18480678,Chemical,285,293,dopamine,"(Chemical|dopamine, 285, 293)"
4,18480678,Chemical,314,328,norepinephrine,"(Chemical|norepinephrine, 314, 328)"

In [11]:
entities.tail()

,doc_id,EntityType,start,stop,EntityText,tup
49580,23293962,Gene,1097,1109,matriptase-2,"(Gene|matriptase-2, 1097, 1109)"
49581,23293962,Gene,1135,1138,HJV,"(Gene|HJV, 1135, 1138)"
49582,23293962,Gene,1140,1152,haemojuvelin,"(Gene|haemojuvelin, 1140, 1152)"
49583,23293962,Gene,1223,1228,HAI-2,"(Gene|HAI-2, 1223, 1228)"
49584,23293962,Gene,1248,1260,matriptase-2,"(Gene|matriptase-2, 1248, 1260)"

### Write df to dict

In [9]:
unary_tags[unary_tags.keys()[0]]

{(u'Chemical|Hydroxy', u'0', u'7'),
 (u'Chemical|carbonyl di-imidazole', u'1180', u'1201'),
 (u'Chemical|cholesterol', u'1624', u'1635'),
 (u'Chemical|cholesterol', u'95', u'106'),
 (u'Chemical|hydroxy', u'1032', u'1039'),
 (u'Chemical|hydroxy', u'1206', u'1213'),
 (u'Chemical|hydroxy', u'1495', u'1502'),
 (u'Chemical|hydroxy', u'1791', u'1798'),
 (u'Chemical|polyethylene glycol', u'1051', u'1070'),
 (u'Gene|I insulin-like growth factor receptor', u'1352', u'1389'),
 (u'Gene|IGF1R', u'1391', u'1396'),
 (u'Gene|IGF1R', u'1534', u'1539'),
 (u'Gene|IGF1R nanodomains', u'121', u'138')}

In [5]:
unary_tags = entities_to_dict(entities)

### Write to bz2 pickle

In [6]:
import bz2
import cPickle as pickle
with bz2.BZ2File('/home/antonis/data/biocreative6/entities/unary_tags_leadmine_neji.pkl.bz2', 'w') as f:
    pickle.dump(unary_tags, f)